mediapipe==0.10.14
opencv-python
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
#pip3 install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu124
numpy==1.26.4
pandas==2.2.2
tensorflow==2.15.0
scikit-learn
transformers
fastapi
cloudinary
uvicorn
python-dotenv
nltk
httpx
wandb
google.generativeai
colorama
#pip install "fastapi[standard]"